@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@400;600;700&family=Roboto:wght@500;700&family=Work+Sans:wght@400;500;600;700&display=swap");
@import "_reset.css";

/* 

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;

*/

/* Main Styles */
:root {
    --dark-color: #212529;
    --honey-color: #ffb742;
    --box-bg: #292b2e;
    --span-box-bg: #33363a;
    --skill-box-bg: #383e45;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background: var(--dark-color);
}

.container {
    max-width: 1342px;
    width: 100%;
    margin: 0 auto;
}

/* Header Styles */
#header .container {
    margin-top: 17px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

nav ul li a {
    color: #fff;
}

nav ul li:first-child a {
    color: var(--honey-color);
}

#header .button a {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 12px 26px;
    border: 2px solid var(--honey-color);
    border-radius: 50px;
    background: var(--honey-color);
}

#header .button a {
    color: var(--dark-color);
}

/* Hello Section */
#hello {
    margin-top: 108px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #fff;
}

#hello span {
    border-bottom: 2.5px solid var(--honey-color);
    color: var(--honey-color);
}

#hello h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
}

#hello h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
}

#hello p {
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
}

#hello img {
    margin-top: 22px;
}

/* Counter Section */
#counters {
    margin-top: 136px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    gap: 24px;
}

#counters .box {
    padding: 0 35px 0 30px;
    background: var(--box-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 416px;
    height: 120px;
}

#counters .text {
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#counters .text h1 {
    color: var(--honey-color);
    font-size: 32px;
    line-height: 40px;
}

#counters .text p {
    font-size: 16px;
    line-height: 30px;
}

/* Sections Styles */
.section-span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--honey-color);
}

.section-span span {
    background: var(--span-box-bg);
    padding: 6px 25px;
    border-radius: 50px;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #fff;
}

.section-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #d4d4d4;
}

.section-button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.section-button a {
    color: var(--dark-color);
    background: var(--honey-color);
    padding: 12px 40px;
    border-radius: 50px;
}

/* About Me Section */
#about {
    margin-top: 136px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#about .text .section-span {
    margin-top: 85px;
}

#about .text .section-title {
    margin-top: 15px;
}

#about .text .section-content {
    margin-top: 30px;
}

#about .text .section-button {
    margin-top: 55px;
}

/* My Skills Section */
#skills {
    margin-top: 136px;
    display: flex;
    align-items: center;
    gap: 97px;
}

#skills .items {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, auto);
}

#skills .text .section-title {
    margin-top: 5px;
    line-height: 56px;
}

#skills .text .section-content {
    margin-top: 30px;
}

#skills .text .section-button {
    margin-top: 65px;
}

#skills .items .box {
    background: var(--skill-box-bg);
    border-radius: 10px;
    text-align: center;
    padding: 16px;
}

#skills .items .box:nth-child(7) {
    padding: 22px 16px;
}

/* My Works Section */
#works {
    margin-top: 136px;
}

#works .text {
    text-align: center;
}

#works .text .section-title {
    margin-top: 5px;
    line-height: 56px;
}

#works .text ul {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

#works .text ul li {
    padding: 5px 20px;
    color: #fff;
}

#works .text ul li:first-child {
    background: var(--honey-color);
    color: var(--dark-color);
    border-radius: 3px;
}

#works .text ul li:hover {
    cursor: pointer;
}

#works .items {
    margin-top: 50px;
}

#works .items .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
#works .items .column img {
    width: 100%;
    margin: 0 0 30px 0;
}

#works .items .column img:last-child {
    margin-bottom: 0;
}

/* Testimonials Section */
#testimonials {
    margin-top: 136px;
}

#testimonials .text {
    text-align: center;
}

#testimonials .text .section-title {
    margin-top: 15px;
    line-height: 46px;
}

#testimonials .messages {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

#testimonials .box {
    font-family: "Poppins", sans-serif;
    background: #fff;
    border-radius: 8px;
    padding: 50px 51px 48px 32px;
}

#testimonials .box .content {
    margin-top: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

#testimonials .box .owner {
    margin-top: 36px;
    display: flex;
    gap: 24px;
    align-items: center;
}

#testimonials .box .owner .detail h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
}

#testimonials .box .owner .detail h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
}

#testimonials .sticks {
    margin-top: 65px;
    text-align: center;
}

#testimonials .sticks hr:first-child {
    display: inline-block;
    width: 50px;
    border-top: 5px solid var(--honey-color);
    border-right: 10px solid var(--honey-color);
    border-bottom: 5px solid var(--honey-color);
    border-left: 10px solid var(--honey-color);
    border-radius: 50px;
}

#testimonials .sticks hr:last-child {
    display: inline-block;
    margin-left: 7px;
    width: 20px;
    border-top: 5px solid #bb824c;
    border-right: 10px solid #bb824c;
    border-bottom: 5px solid #bb824c;
    border-left: 10px solid #bb824c;
    border-radius: 50px;
}

/* Footer */
#footer {
    margin-top: 115px;
}

#footer .box {
    padding: 57px 0;
    background: var(--honey-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    text-align: center;
    max-width: 1116px;
    margin: 0 auto;
    transform: translateY(50%);
}

#footer .box h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34.6667px;
    line-height: 53px;
}

#footer .box p,
#footer .box a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

#footer .box a {
    padding: 12px 40px;
    color: var(--dark-color);
    border: 2px solid #000;
    border-radius: 50px;
}

.footer {
    background: #1c1c1c;
    padding-top: 144px;
    padding-bottom: 50px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .column h1 {
    color: var(--honey-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.footer .column:first-child p {
    margin-top: 30px;
    color: #d4d4d4;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.footer .column:last-child p {
    margin-top: 10px;
    color: #7b7b7b;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
}

.footer .column h2 {
    color: #f5fbf2;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
}

.footer .column ul {
    margin-top: 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
}

.footer .column ul li a {
    color: #7b7b7b;
}

.footer .column form {
    margin-top: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15.8118px;
    line-height: 23px;
    background: var(--dark-color);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    width: 313px;
    height: 63px;
}

.footer .column input[type="email"] {
    color: #fff;
    background: transparent;
    width: 100%;
    border-radius: 50px;
    padding-left: 24px;
}

.footer .column button[type="submit"] {
    background: var(--honey-color);
    padding: 20px;
    border-radius: 50px;
}

.footer .column button[type="submit"]:hover {
    cursor: pointer;
}
